<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<title>Addition, Subtraction, Multiplication, Division</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
Enter first number = <input type="integer" ng-model="fn"> </br>
Enter second number = <input type="integer" ng-model="sn"> </br>
Addition of {{fn}} + {{sn}} = {{fn+sn}}</br>
Subtraction of {{fn}} - {{sn}} = {{fn-sn}}</br>
Multiplication of {{fn}} * {{sn}} = {{fn*sn}}</br>
Division of {{fn}} / {{sn}} = {{fn/sn}}</br>

</body>
</html>

